{{ if hasKey .Values "affinity" }}
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: 'node-type'
          operator: In
          values:
            - {{ .Values.affinity | quote }}
tolerations:
  - effect: NoSchedule
    key: nodeType
    operator: Equal
    value: {{ .Values.affinity | quote }}
{{ end }}
